{% extends 'admin/index.html' %}
{% block content %}

<div class="content">
<div class="clearfix">
 <div class="col-lg-6 mt-3">
     <div class="card p-4 ">
         {% include '../components/msg.html' %}
    <h2>Kurs Qo'shish</h2>

  <div class="card-body card-block">
      <form action="{% url 'add_course' %}"  method="post">
          {% csrf_token %}
        <div class="form-group">
            <label for="">Kurs Nomi</label>
            <input type="text" name="course_name"  placeholder="kurs nomi..." required class="form-control">
        </div>
          <div class="form-group">
              <button class="btn btn-primary">Kurs qo'shish</button>
          </div>
      </form>
        </div>

</div>
</div>
</div>
</div>




{% endblock %}
